body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

main {
    min-height: 20em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}


/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* -----------------------    Dices    ----------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

.dices {
    display: grid;
}

.dice {
    position: relative;
    border: 2px solid #333;
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.innergrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center; /*vertikalt*/
    justify-items: center; /*horisontellt*/
}

.one {
    grid-column: 2/2;
}

.two {
    grid-column: 2/2;
}

.three {
    grid-column: 2/2;
}

.four {
    grid-column: 2/2;
}

.five {
    grid-column: 2/2;
}

.six {
    grid-column: 2/2;
}

.dotone {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: black;
    align-self: auto;
    grid-column: 2/2;
    grid-row: 2/2;
}

.dottwo1 {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: black;
    align-self: auto;
    grid-column: 1/1;
    grid-row: 3/3;
}

.dottwo2 {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: black;
    align-self: auto;
    grid-column: 3/3;
    grid-row: 1/1;
}

.dotfour1 {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: black;
    align-self: auto;
    grid-column: 1/1;
    grid-row: 1/1;
}

.dotfour2 {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: black;
    align-self: auto;
    grid-column: 3/3;
    grid-row: 3/3;
}

.dotsix1 {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: black;
    align-self: auto;
    grid-column: 2/2;
    grid-row: 1/1;
}

.dotsix2 {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: black;
    align-self: auto;
    grid-column: 2/2;
    grid-row: 3/3;
}



/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* --------------------    Dices graphics   ------------------ */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

.dice-area {
    display: flex;
    gap: 1em;
    margin: auto;
    align-items:baseline;
    justify-content: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.button-area {
    display: flex;
    padding: 1em;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.container {
    min-height: 38em;
    text-align: center;
    margin: auto;
}

.header-game {
    text-align: center;
    margin: auto;
}

.winner {
    color: black;
    border: 2px solid #00ff0c;
}

.loser {
    color: black;
    border: 2px solid red;
}

.end-screen {
    border: 2px solid red;
}

.score {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 12em;
    margin-left: auto;
}


/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ----------------------  form-yatzy ------------------- */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.form-yatzy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.button {
    width: 6em;
    background-color: red;
    color: white;
    border: 3px solid red;
    border-radius: 3px;
}

/* TAbles */
td {
    background-color: #fff;
}

.table, .balance {
    margin: auto;
    padding: 1em;
}

table th {
    padding: 0.5em;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 4px;
}

.table tr:nth-child(even) {
    background-color: #00adaa;
}

.table tr:hover {
    background-color: #00adaa;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  background-color: #00adaa;
  color: black;
}

.table-container {
    width: 60%;
}

.graph-dices {
    display: flex;
    gap: 1em;
    flex-direction: row;
}

.selected {
    border: 2px solid red;
    border-radius: 10px;
}

.dice-button {
    background-color: white;
    border: none;
    padding: 0;
}
